#header {color: black; 
    font-style: bold; 
    font-size: large;
    background-color: #7fa376; 
    padding: 10px;   
    border-radius: 25px;
    width: 30%;
    margin: auto;
    text-align: center;}

body {background-color: beige;}



